:root {
  --primary-color: #f95606;
  --secondary-color: #7a3eb1;
  --accent-color: #ffd43b;
  --blue-color: #0066cc;
  --light-color: #f8f9fa;
  --neutral-color: #e0e0e0;
  --gray-color: #666666;
  --text-color: #333333;
}

.dark {
  --primary-color: #ffd43b; /* tu peux inverser ou adapter */
  --secondary-color: #7a3eb1;
  --accent-color: #f95606;
  --dark-color: #333333;
  --light-color: #1a1a1a;
  --neutral-color: #444444;
  --gray-color: #aaaaaa;
  --text-color: #f8f9fa;
}

.bg-primary {
  background-color: var(--primary-color);
}
.text-primary {
  color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
/* etc. pour accent, dark, light, neutral, gray, text */
